body {
    padding: 0px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: auto;
    grid-template-rows: 15vh auto 8vh;
    height: 100vh;
}

header {
    font-size: 3em;
    grid-area: header;
    background: #fdff80;
    padding: 15px;
    border-width: 5px;
    border-style: solid;
    border-color: #9b8834a2;
    display: grid;
    grid-template-areas: "a a a a a a";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
}

main {
    grid-area: main;
    background: #9eff80;
    padding: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #4a9b34a2;
    display: grid;
    grid-template-areas: "a b c" "d e f" "g h i";
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-rows: 1fr 10fr 1fr;
    overflow: hidden;
}

footer {
    grid-area: footer;
    background: #ff8086;
    padding: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #9b344aa2;
}

main div.image {
    grid-area: e;
    margin: 0px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/D%C3%BClmen%2C_Privatr%C3%B6sterei_Schr%C3%B6er%2C_Kaffeebeh%C3%A4lter_--_2018_--_0529.jpg/1280px-D%C3%BClmen%2C_Privatr%C3%B6sterei_Schr%C3%B6er%2C_Kaffeebeh%C3%A4lter_--_2018_--_0529.jpg');
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

main div.panel {
    margin: 0px;
    font-size: 3em;
    padding: 2vw;
}

main div.norrisFact {
    margin: 0px;
    font-size: 2em;
    padding: 2vw;
    grid-area: 2 / 2 / span 1 / span 2;
    font-family: 'Luckiest Guy', cursive;
    overflow-y: auto;
}

main div.norrisImage {
    margin: 0px;
    grid-area: d;
}

main div.norrisImage img {
    margin: 0px;
    content: url("Chuck_Norris_cropped.jpg");
    max-height: 100%;
    max-width: 100%;
}

button {
    background: #ffa880;
    padding: 20px;
    margin: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #5c3320a2;
    font-size: 0.5em;
}

footer div.fadeOut {
    opacity: 0;
    transition: all ease 2s;
}

footer div {
    opacity: 1;
    transition: all ease 0s;
    transition-delay: 0s;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

button {
    width: auto;
}